/coverage.txt
/gomarkdoc
/bin/
README-test.md

# editor and IDE paraphernalia
.vscode/*
.idea
*.iml
*.swp
*.swo
*~

# Dependency directories (remove the comment below to include it)
vendor/

# Makefiles
target/
.env

